@model EventStreamingPlatform.Models.StreamingViewModel.SerieIndexData

@{
    ViewData["Title"] = "Index";
}

<h2>Serie</h2>

<p>
    <a asp-action="Create"   class="btn btn-primary">Create New</a>
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Desc</th>
            <th scope="col">Company</th>
            <th scope="col">Language</th>
            <th scope="col">Genres</th>
            <th scope="col">Main Actors</th>
            <th scope="col">Others Actors</th>
            <th scope="col">Season</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Seriess)
        {
            string selectedRow = "";
            if (item.SerieId == (int?)ViewData["SerieId"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.LanguageName)
                </td>
                <td>
                    @foreach (var genre in item.SerieGenres)
                    {
                        @genre.Genre.Name <br />
                    }
                </td>
                <td>
                    @foreach (var actor in item.SerieActors)
                    {
                        @actor.Actor.Name @:  @actor.Actor.LastName <br />
                    }
                </td>
                <td>
                    @foreach (var actor in item.SerieMainActors)
                    {
                        @actor.Actor.Name @:  @actor.Actor.LastName <br />
                    }
                </td>
                <td>
                    @foreach (var genre in item.Seasons)
                    {
                        @genre.Name <br />
                    }
                </td>
               
             
                <td>
                    <a asp-action="Index" asp-route-id="@item.SerieId" class="btn btn-primary">Select</a> |
                    <a asp-action="Edit" asp-route-id="@item.SerieId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SerieId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SerieId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.Seasons != null)
{
    <h3>Seasons with episodes for <span style="font-style: oblique;">@ViewBag.Serie</span></h3>
    <table class="table">
        <tr>
            <th></th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
           
        </tr>

        @foreach (var item in Model.Seasons)
        {
            string selectedRow = "";
            if (item.SeasonId == (int?)ViewData["SeasonId"])
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.ActionLink("Select To See Details for Episodes", "Index", new { seasonId = item.SeasonId })
                </td>
                <td>
                    @item.SeasonId
                </td>
                <td>
                    @item.Name
                </td>
              
            
            </tr>
        }

    </table>
}
@if (Model.Episodes != null)
{
    <h3>
        Episodes in <span style="font-style: oblique;">@ViewBag.Season</span>
    </h3>
    <table class="table">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
        @foreach (var item in Model.Episodes)
        {
            <tr>
                <td>
                    @item.EpisodeId
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </table>
}
