@model PaginatedList<EventStreamingPlatform.Models.City>

@{
    ViewData["Title"] = "City";
}

<h2>City</h2>

<p>
    <a asp-action="Create"  class="btn btn-primary">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-action no-color">
        <p>
            Find by name or surname:<input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-success" />
            <a asp-action="Index"  class="btn btn-secondary my-2 my-sm-0"> Back to Full List </a>
        </p>

    </div>

</form>
<table class="table table-hover">
    <thead>
        <tr>



            <th  scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">Name</a>
            </th>
           
            <th  scope="col">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CountrySortParam"]" asp-route-CurrentFilter="@ViewData["CurrentFilter"]">Country</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CityId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CityId" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CityId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex-1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex+1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
    Next
</a>