@model EventStreamingPlatform.Models.Episode

@{
    ViewData["Title"] = "Details";
}
<br />
<h3>Details </h3>

<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VideoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VideoLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhotoLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RealiseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RealiseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Serie.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EpisodeId" class="btn btn-dark">Edit</a> |
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
    <div>
    @foreach (var comment in Model.Comments)
    {
        <article class="forum-post post-item highlighted-post">
            <div class="head-post table-holder">
                <div class="post-content">
                    <div> New Comment: 
                        <p>@comment.Description</p>
                    </div>
                    <div class="meta-info table-holder meta-details">
                        <div class="table-holder">
                            <div class="row">
                                <div class="cell">
                                    <span class="item-wrap date-wrap">
                                        <i class="fa fa-calendar">Created at: </i>
                                        <span class="post-date" title="Create at">
                                            @comment.CreatedDate.ToString("HH:mm dd/MMM/yyyy")
                                        </span>
                                    </span>
                                    <span class="item-wrap category-wrap">
                                        <i class="fa fa-exchange">Last Redaction: </i>
                                        <span class="date-time cell" title="Last Redaction">@comment.LastUpdatedDate.ToString("HH:mm dd/MMM/yyyy")</span>
                                    </span>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    }
</div>
   
</div>

