@model EventStreamingPlatform.Models.StreamingViewModel.PagedCountryIndexData<Country>

@{
    ViewData["Title"] = "Index";
}

<h2>Country</h2>

<p>
    <a asp-action="Create"   class="btn btn-primary">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <table class="table">
            <tr>
                <th>
                    Find by name:
                    <input type="text" id="searchValue" value="@ViewData["CurrentFilter"]" />
                    <input type="button" value="Search" class="btn btn-success"
                           onclick="location.href='@Url.Action("Index", "Countries", new { id = "", languageId = ""})?searchString=' + $('#searchValue').val()" />

                </th>
                <th>
                    <a class="btn btn-secondary my-2 my-sm-0" href="@Url.Action("Index","Countries", new { id = "", languageId = "", SearchString = "" })">Clear search</a>
                </th>
            </tr>
             
        </table>
    </div>
</form>
<table class="table table-hover">
    @if (Model.Languages == null)
    {
    <thead>
        <tr>
                <th scope="col"><a asp-action="Index" asp-route-sortOrder="@ViewData["CountryNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a></th>
            <th>Population</th>
                <th scope="col" ><a asp-action="Index" asp-route-sortOrder="@ViewData["LanguageSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Languages</a></th>
            <th scope="col">Abbreviation</th>
            <th scope="col">ISO_Code</th>
            <th scope="col"></th>
        </tr>
    </thead>
     }
    else
    {
        <thead>
            <tr>
            <th scope="col">Name</th>
            <th scope="col">Population</th>
            <th scope="col">Languages</th>
            <th scope="col">Abbreviation</th>
            <th scope="col">ISO_Code</th>
            <th></th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Model.Countries)
        {
            string selectedRow = "";
            if (item.CountryId == (int?)ViewData["CountryId"])
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Popullation)
                </td>
                <td>
                    @foreach (var language in item.CountryLanguages)
                    {
                        @language.Language.LanguageName <br />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abbreviation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISO_Code)
                </td>


                <td>
                  
                    <a asp-action="Edit" asp-route-id="@item.CountryId" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CountryId" class="btn btn-primary" >Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CountryId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@if (Model.Languages == null)
{
    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
        Previous
    </a>
    <a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
        Next
    </a>
}
else
{
    <a asp-action="Index"
   asp-route-languageId=""
   asp-route-id=""
    class="btn btn-dark" 
   asp-route-currentFilter="@ViewData["CurrentFilter"]">
        Clear selection
    </a>
}